body {
  background-image: url(../elements/clouds_art.png);
  background-attachment: fixed;
  width: fit-content;
  height: 10%;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

p {
  padding: 35px;
  background: rgb(180, 200, 230, 0.4);
}

.defaultTextBox {
  padding: 35;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0,0,0,.15);
  background-color: white;
  font-size: 16px; 
  background-color: #B0C4DE;
}

html {
color: #333333;
font-family: Arial, Helvetica, sans-serif;
}

h1 {
text-align: centre;
margin-left: auto;
margin-right: auto;

}

.subscript {
  margin-left: 450px;
  padding: 15px;
}



header {
  background-color: bisque;
  grid-area: header;
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

tr:hover td, tr:hover th {
  background-color: #ffff99;
}

table, td, th {
  background-color: whitesmoke;
  border: 1.5px solid black;
  border-collapse: collapse;
  width: 1250px;
  grid-area: middle;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  box-shadow: 2px 2px 2px #888888;
  
}

.centre {
  text-align: center;
 
}
.left,
.middle,
.right {
  padding: 10px;
  height: 300px; 
}

.left {
  text-align: left;
}

.middle {
  grid-area: middle;
  align-self: center;
}

.right {
  grid-area: right;
}


.footer {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.button {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}
  .button:hover{
  color:#000000;
  background-color:#FFFFFF;
  }
  @media all and (max-width:30em){
  button1{
    display:block;
    margin: 0.4em auto;
  }
}













@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,700");

.link-boxes {
  height: 43.47vh;
  width: 130.43vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          -webkit-align-items: stretch;
          align-items: stretch;
  font-family: "Montserrat";
  font-weight: 150;
  font-size: x-small;
  padding-top: 140px;
}

.box0 {
  border: #B0C4DE
  ;
}


.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
  -ms-flex-preferred-size: 33.33%;
      -webkit-flex-basis: 33.33%;
          flex-basis: 33.33%;
  -webkit-transition: 0.5s flex-basis cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.5s flex-basis cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.5s flex-basis cubic-bezier(0.23, 1, 0.32, 1);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          -webkit-justify-content: flex-end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
  background-position: center;
	-webkit-background-size: cover;
	        background-size: cover
}

.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover,
.box5:hover,
.box6:hover {
  -ms-flex-preferred-size: 50%;
      -webkit-flex-basis: 50%;
          flex-basis: 50%;
}

.box1:after,
.box2:after,
.box3:after,
.box4:after,
.box5:after,
.box6:after
{
  content: "";
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: 0.5s background-color cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.5s background-color cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.5s background-color cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  font-size: 4em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: white;
}

.box1:after {
  background-color: rgba(255, 246, 233, 0.72);
  content: "Definitions";
}

.box2:after {
  background-color: rgba(255, 239, 215, 0.68);
  content: "Reflections";
}

.box3:after {
  background-color: rgba(255, 254, 249, 0.67);
  content: "Boxes Explained";
}

.box4:after {
  background-color: rgba(227, 240, 255, 0.67);
  content: "About Me!";
}

.box5:after {
  background-color: rgba(210, 231, 255, 0.77);
  content: "One Liners";
}

.box6:after {
  background-color: rgba(210, 183, 178, 0.67);
  content: "Values";
}


.box1:hover:after,
.box2:hover:after,
.box3:hover:after,
.box4:hover:after,
.box5:hover:after,
.box6:hover:after {
  opacity: 1;
}

.box1:hover:after,
.box2:hover:after,
.box3:hover:after,
.box4:hover:after,
.box5:hover:after,
.box6:hover:after
{
  background: none;
}


