@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,700");
html {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  }


body {
  background-image: url(../elements/clouds_art.png);
  background-attachment: fixed;
  height: 10%;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

p {
  padding: 20px;
  background: rgb(180, 200, 230, 0.4);
}

a {
  text-decoration: none;
}

.defaultTextBox {
  padding: 35;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0,0,0,.15);
  background-color: white;
  font-size: 16px; 
  background-color: #B0C4DE;
}

/* Sprint 2 Technical Formatting  */
#boxdiagram {
float: left;

}

#diagramtext {
  display: inline;
  background-color: #333333;
}






.subscript {
  margin-left: 450px;
  padding: 15px;
}



header {
  background-color: bisque;
  grid-area: header;
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}


tr:hover td, tr:hover th {
  background-color: #ffff99;
}

table, td, th {
  background-color: whitesmoke;
  border: 1.5px solid black;
  border-collapse: collapse;
  grid-area: middle;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  box-shadow: 2px 2px 2px #888888;
  
}



.centre {
  text-align: center;
 
}
.left,
.middle,
.right {
  padding: 10px;
  height: 300px; 
}

.left {
  text-align: left;
}

.middle {
  grid-area: middle;
  align-self: center;
}

.right {
  grid-area: right;
}


.footer {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.head_left {
left: 0;
background-position-x: left;


}

.home_button {
position: relative;
left: auto;
color:#888888;
}


.button {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
 
  text-align:center;
  transition: all 0.2s;
}

  .button:hover{
  color:#000000;
  background-color:#FFFFFF;
  }
  @media all and (max-width:30em){
  button1{
    display:block;
    margin: 0.4em auto;
  }
}


.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;

}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 5s linear infinite;
}

.marquee2 span {
  animation-delay: 2.5s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}





.link-boxes {
  height: 45vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          -webkit-align-items: stretch;
          align-items: stretch;
  font-family: "Montserrat";
  font-weight: 150;
  font-size: x-small;
  padding-top: 140px;
}

.box {
  -ms-flex-preferred-size: 33.33%;
      -webkit-flex-basis: 33.33%;
          flex-basis: 33.33%;
  -webkit-transition: 0.5s flex-basis cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.5s flex-basis cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.5s flex-basis cubic-bezier(0.23, 1, 0.32, 1);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          -webkit-justify-content: flex-end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
  background-position: center;
	-webkit-background-size: cover;
          background-size: cover;
  opacity: 50%;
  mix-blend-mode: multiply;
}

.box:hover {
  -ms-flex-preferred-size: 50%;
      -webkit-flex-basis: 50%;
          flex-basis: 50%;
  mix-blend-mode: normal;
  opacity: 1;
}

.box:after {
  content: "";
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: 0.5s background-color cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.5s background-color cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.5s background-color cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  font-size: 4em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: white;
}


.box-label{
  text-align: center;
  margin: 10px auto;
  vertical-align: middle;
  font-family: "Montserrat";
  font-weight: 150;
  font-size: 4em;
  opacity:1;
  z-index:1000;
  mix-blend-mode: normal;
}

.box-label:after {
  color: black;
}

#definitions-label:after {
  content: "Definitions";
}

#reflections-label:after {
  content: "Sprint2 - Cultural";
}

#boxexplained-label:after {
  content: "Sprint2 - Tech";
}

#aboutme-label:after {
  content: "About Me!";
}

#epic-label:after {
  content: "Epic";
}

#values-label:after {
  content: "Identity";
}

#helpfullinks-label:after {
  content: "Helpful Links";
}
